{% extends '../base.html' %}

{% block title %} | Our Product Inventory {% endblock %}
{% block content %}

{% load humanize %}

<style>
    .bg-light {
        background: #5b026d !important;
    }
    .order-bg{
        background-image:linear-gradient(rgba(10, 9, 10, 0.6),rgba(85, 9, 129, 0.2)), url(/static/img/order.jpg);
        height: 100vh;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-attachment: fixed;
    }
</style>

<!-- Sub banner start -->
<!-- <div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Your Cart Summary</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'frontend:home' %}">Home</a></li>
                <li class="active">Cart Summary</li>
            </ul>
        </div>
    </div>
</div> -->
<!-- Sub Banner end -->
<section class="order-bg py-5">
    <div class="container py-5 ">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-6 py-5">
                <div class="card bg-light shadow-lg">
                    <div class="card-body">
                        <center>
                            <i class="fa fa-check" aria-hidden="true" style="font-size: 140px; color: #fff;"></i>
    
                            <i class="bi bi-check-circle" ></i>
                        </center>
                        <p class="fw-bold text-center text-white">Your Order was placed Successfully. <br>
                            Please check your email for further instructions on how to make payment.
                            Thank you.
                        </p>
                        
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}